@page "/bindProp"

@using Model


<hr />
<div class = "bg-light border p-2">
<h3 class="mt-4 text-info">Available Rooms</h3>
<br />


@if (RoomsList is not null)
{

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Room Type</th>
                <th scope="col">Price</th>
                <th scope="col">Square Feet</th>
                <th scope="col">Occupancy</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in RoomsList)
            {
                <tr>
                    <td><input type = "text" @bind-value="@room.RoomName" @bind-value:event="oninput"/></td>
                   
                    <td><input type = "text" @bind-value="@room.Price" @bind-value:event="oninput"/></td>
                
                    @foreach (var roomprop in room.RoomProperties)
                    {
                        <td>
                           @roomprop.Value
                        </td>
                    }
                    </tr>
                }

        </tbody>
    </table>
    <br />

        @foreach (var room in RoomsList)
        {
            <p>@room.RoomName's Price is @room.Price</p>

        }
}
else
{
    <p>No Rooms available!</p>
}
</div>

@code {


    // List of all the Blazor Rooms.

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    // Create an object of blazor room

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // We add a new Blazor room and inside here we add a new list of the blazor room properties.
        RoomsList.Add(new BlazorRoom()
            {

                Id = 1,
                RoomName = "Villa Suite One Bedroom",
                IsActive = true,
                Price = 500,
                RoomProperties = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
                new BlazorRoomProp{Id=2,Name="Occupancy",Value="1"},

            }
            });
        RoomsList.Add(new BlazorRoom()
            {

                Id = 2,
                RoomName = "Villa Suite Three Room Complex",
                IsActive = true,
                Price = 1000,
                RoomProperties = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{Id=1,Name="Sq Ft",Value="330"},
                new BlazorRoomProp{Id=2,Name="Occupancy",Value="3"},

            }
            });
        RoomsList.Add(new BlazorRoom()
            {

                Id = 3,
                RoomName = "Villa Suite Couples Getaway Room",
                IsActive = true,
                Price = 750,
                RoomProperties = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{Id=1,Name="Sq Ft",Value="500"},
                new BlazorRoomProp{Id=2,Name="Occupancy",Value="2"},

            }
            });

    } // end of OnInitialized

} @* end of code block*@

