
@using Model

<div class="bg-light border p-2 col-5">
            <h4 class="text-secondary">Room - @Room.Id</h4>
            
            <input type = "checkbox" @onchange="RoomCheckBoxSelectionChanged" class = "mt-5"/>
            
            @Room.RoomName<br>
            @Room.Price.ToString("c")
            <br>

            <input type="checkbox" @bind-value="Room.IsActive" checked="@(Room.IsActive?"Active":null)" /> &nbsp; IsActive<br />
            <span>This room is @(Room.IsActive?"Active":"Inactive")</span>

            @if (Room.IsActive)
            {
                @foreach (var roomprop in Room.RoomProperties)
                {
                    <p>
                        @roomprop.Name - @roomprop.Value
                    </p>
                }
            }

            <EditDeleteButton IsAdmin = "true"></EditDeleteButton>



        </div>

@code {
    [Parameter]
    public BlazorRoom Room { get; set; }
    [Parameter]
    public EventCallback<bool> OnRoomCheckBoxSelection{ get; set; }


    protected async Task RoomCheckBoxSelectionChanged(ChangeEventArgs e)
    {

        await OnRoomCheckBoxSelection.InvokeAsync((bool)e.Value);
    }

}
